@import "../../node_modules/bootstrap/scss/bootstrap";
@import "header";
@import "footer";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  @extend %header;
}

footer {
  @extend %footer;
}
